:root {
	--text: #ffffff;
	--background: #302f2c;
	--primary: #5f94ce;
	--secondary: #42403e;
	--accent: #262421;
}

body {
	text-align: center;
	background-color: var(--background);
	color: var(--text);
	font-family: sans-serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-text-size-adjust: none;
	user-select: none;
}

button {
	cursor: pointer;
	background-color: var(--primary);
	color: var(--text);
	border: none;
	border-radius: 6px;
	padding: 8px 16px;
	box-shadow: var(--boxShadowHover, inset 0 calc(var(--borderHeight, .1rem)*-1) 0 0 rgba(0, 0, 0, .25));
}

.App {
	margin: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 90vh;
}

#morse {
	font-size: 1.5em;
	text-align: justify;
	width: 100%;
	word-wrap: break-word;
	max-height: 50vh;
	overflow-y: auto;
}

.solution {
	user-select: none;
	-webkit-touch-callout: none;
}

#score {
	opacity: 0.5;
	margin: 0;
}

.bottom-buttons {
	display: flex;
	justify-content: space-evenly;

}

.bottom-buttons>button {
	height: 15vh;
	font-size: 1em;
	width: 100%;
	border-radius: 0;
	border: 1px solid var(--background);
}

.bottom-buttons>button:hover {
	opacity: 1;
}

.help-button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 8px;
	background-color: rgb(16, 15, 37);
	border: none;
	box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.5);
	border-radius: 8px;
	color: white;
	opacity: 0.5;
	transition: 0.5s;
}

.modal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: rgb(16, 15, 37);
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	display: flex;
	flex-direction: column;
}

.modal-close {
	align-self: flex-end;
	padding: 8px;
	background-color: rgb(16, 15, 37);
	border: none;
	box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.5);
	border-radius: 8px;
	color: white;
	opacity: 0.5;
	transition: 0.5s;
	width: fit-content;
}

.menubar {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}

.menubar>.left {
	display: flex;
	gap: 1em;
	flex-direction: row;
	height: 1em;
	align-items: center;
}

.left>h1 {
	margin: 0;
	height: fit-content;
}

.menubar>.buttons {
	display: flex;
	gap: 1em;
	flex-direction: row;
	align-items: center;
}

.buttons>button {
	font-size: 1.05em;
}

.home-action-primary {
	width: 100%;
	height: 10vh;
	font-weight: bold;
	font-size: 1.5em;
}

.menu {
	position: absolute;
	background-color: var(--accent);
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0;
	left: 0;
	z-index: 99;
	overflow: hidden;
	gap: 1em;
	padding-top: 10vh;
}

.menu-item {
	width: 100%;
	height: 10vh;
	font-size: 1.5em;
	background-color: var(--background);
	color: var(--text);
	display: flex;
	justify-content: center;
	align-items: center;
}

.leaderboard {
    width: 100%;
    border-collapse: collapse;
}

.leaderboard th, .leaderboard td {
    padding: 8px;
    text-align: center;
}

.leaderboard th {
    background-color: var(--accent);
}

/* Optional: Add styling for alternating row colors */
.leaderboard tbody tr:nth-child(even) {
    background-color: var(--secondary);
}

.leaderboard tbody tr:nth-child(1) td:nth-child(1) span {
	background-color: #f7c631;
	border-radius: 6px;
	padding: 4px;
}

.leaderboard tbody tr:nth-child(2) td:nth-child(1) span {
	background-color: #bebdb9;
	border-radius: 6px;
	padding: 4px;
}

.leaderboard tbody tr:nth-child(3) td:nth-child(1) span {
	background-color: #d5a47d;
	border-radius: 6px;
	padding: 4px;
}